:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: #f2f2f2;
  color: rgba(35, 33, 33, 0.87);
  background-color: #ddd2d2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}





@tailwind base;
@tailwind components;
@tailwind utilities;

